<div mat-dialog-title>
    <h1>اضافة صنف</h1>
</div>
<form [formGroup]="iForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
   <div class="row">
   <div class="col-md-6">
    <mat-form-field appearance="outline">
        <mat-label>سعر</mat-label>
        <input matInput  type="number" formControlName="price">
      </mat-form-field>
   </div>
   <div class="col-md-6">
    <mat-form-field appearance="outline">
        <mat-label>الصنف</mat-label>
        <input matInput  type="text" formControlName="name">
      </mat-form-field>
   </div>
   </div>
   <div class="row">
   <div class="col-md-6">
    <mat-form-field appearance="outline">
        <mat-label>تكلفة</mat-label>
        <input matInput type="number" formControlName="cost">
      </mat-form-field>
   </div>
   <div class="col-md-6">
    <mat-form-field appearance="outline">
        <mat-label>كمية</mat-label>
        <input matInput  type="number" formControlName="quantity">
      </mat-form-field>
   </div>
   </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">الغاء</button>
    <button mat-raised-button color="primary" type="submit">{{data?'تعديل':'حفظ'}}</button>
</div>
</form>